<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
        {# NAVBAR #}
        <nav class="navbar navbar-expand-md bg-dark navbar-dark" id="navbar">
            <!-- Brand -->
            <a class="navbar-brand" href="/" id="logo">Serge BEQUET </a>
                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('page_accueil')}}">
                            Accueil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('biographie')}}">
                            Biographie
                        </a>
                    </li>
                <!-- Dropdown -->
                    <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Galerie
                </a>
                <div class="dropdown-menu" id="dropmenu">
                    <a class="dropdown-item" href="{{ path('galerie_categorie', {'id': 14 }) }}">
                        Bronzes
                    </a>
                    <a class="dropdown-item" href="{{ path('galerie_categorie', {'id': 4 }) }}">
                    Terres cuite
                    </a>
                    <a class="dropdown-item" href="{{ path('galerie_categorie', {'id': 3 }) }}">
                        Stéatites
                    </a>
                    <a class="dropdown-item" href="{{ path('galerie_categorie', {'id': 2 }) }}">
                        Albâtres
                    </a>
                    <a class="dropdown-item" href="{{ path('oeuvres')}}">
                        Toutes les oeuvres
                    </a>
                </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('exposition')}}">
                            Expositions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact')}}">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

        {# Contenue des page #}
        {% block body %}{% endblock %}
    
        {# Javascript #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            
        <noscript>
            Votre navigateur ne prends pas en charge ou a désactivé JavaScript.
        </noscript>
        {% endblock %}

        {# footer #}
        <footer class="text-center">© 2020 Serge BEQUET-Sculpteur. Tous droits réservés.</footer>

    </body>

</html>
